includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest-plugin-phpstan/extension.neon

parameters:
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
        - tests

    level: max

    tmpDir: .phpstan.cache

    checkMissingCallableSignature: true
    treatPhpDocTypesAsCertain: false
